body {
	/* font-family: 'Open Sans', sans-serif; */
}
.welcome {
	height: 100vh;
	max-height: 840px;
}
.welcome .container {
	height: 100%;
}
.welcome .container .flex {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.welcome .container h1,
.welcome .container img {
	z-index: -1;
	position: relative;
	text-align: center;
}
.logos {
	display: flex;
	justify-content: space-between;
	margin-left: -30px;
	margin-bottom: 70px;
}
.logos .logo {
	margin-left: 30px;
	flex: 1 1 100%;
	text-align: center;
	display: flex;
	align-items: center;
}
.logos .logo img {
	margin: 0 auto;
	max-height: 160px;
}
.cards {
	display: flex;
	justify-content: space-between;
	margin-left: -30px;
}
.cards .card {
	margin-left: 30px;
	flex: 1 1 100%;
}
.cards .card svg {
	width: 100%;
	height: 100px;
	fill: white;
}
.cards .card .card-title {
	width: 100%;
	display: block;
	text-align: center;
}
/* circles */
.circles {
	margin-bottom: 90px;
}
.circles img {
	width: 100%;
}
.circles .wrap {
	position: relative;
	margin-top: 30px;
}
.circles .design {
	position: absolute;
	top: -40px;
	left: 430px;
	color: #1E88E5;
	font-size: 28px;
}
.circles .technology {
	position: absolute;
	top: 910px;
	left: 0;
	color: #1E88E5;
	font-size: 28px;
}
.circles .materials {
	position: absolute;
	top: 910px;
	right: 0;
	color: #1E88E5;
	font-size: 28px;
}
/* request */
.request {
	margin: 90px 0;
}
.request-form {
	display:  flex;
	align-items: baseline;
}
.request-form .input-field {
	flex: 1 0 auto;
	margin-right: 30px;
}
.page-footer a {
	text-decoration: underline;
}

/* fix */
nav ul a.active {
	background: #9e9e9e
}